.container {
  margin-top: 70px;
  width: 550px;
  height: 520px;
  border: 1px solid rgb(199, 195, 195);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  opacity: 25%S;
  font-family: "Public Sans";
}

/* nav a {
  display: flex;
  width: 200px;
  margin: 40px;
} */

a.Logo {
  display: block;
  margin: 10px auto;
  max-width: fit-content;
}
.main {
  width: 470px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: grey;
}

.main h2 {
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 16px;
}

.main p {
  margin-left: 70px;
  margin-right: 70px;
  font-size: 12px;
  line-height: 20px;
}

.form {
  margin: 40px;
}

.form input {
  border-radius: 5px;
}

.code {
  display: flex;
}

.code #pw {
  margin-right: 40px;
}

.code #sub {
  width: 100px;
  background-color: #209cf0;
  color: white;
}

.form #email {
  background-color: gainsboro;
}

/* tablet view */
@media only screen and (max-width: 580px) {
  .container {
    margin-top: 50px;
    width: 350px;
    height: 320px;
    border: 1px solid rgb(199, 195, 195);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-family: "Public Sans";
  }

  nav a {
    display: flex;
    width: 200px;
    margin: 30px;
  }

  .main {
    width: 370px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: grey;
  }

  .main h2 {
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 16px;
  }

  .main p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 12px;
    line-height: 20px;
  }

  .form {
    margin: 40px;
  }

  .code {
    display: flex;
  }

  .code #pw {
    margin-right: 40px;
  }

  .code #sub {
    width: 80px;
    background-color: #209cf0;
    color: white;
  }

  .form #email {
    background-color: gainsboro;
  }
}

/* mobile view */
@media only screen and (max-width: 430px) {
  .container {
    margin-top: 40px;
    width: 430px;
    height: 420px;
    border: none;
    font-family: "Public Sans";
  }

  nav a {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    width: 430px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .main h2 {
    margin-bottom: 60px;
    margin-top: 25px;
    font-size: 16px;
  }

  .main p {
    margin-left: 40px;
    margin-right: 60px;
    margin-bottom: 80px;
    font-size: 12px;
    line-height: 15px;
  }

  .form {
    margin: 30px;
  }

  .code {
    display: flex;
  }

  .code #pw {
    margin-right: 40px;
  }

  .code #sub {
    width: 70px;
    background-color: #209cf0;
    color: white;
  }

  .form #email {
    background-color: gainsboro;
  }
}

/* smaller mobile view */
@media only screen and (max-width: 390px) {
  .container {
    margin-top: 20px;
    width: 300px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-family: "Public Sans";
  }

  nav a {
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: grey;
  }

  .main h2 {
    margin-bottom: 50px;
    margin-top: 15px;
    font-size: 16px;
  }

  .main p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    line-height: 15px;
  }

  .form {
    margin: 20px;
  }

  .code {
    display: flex;
  }

  .code #pw {
    margin-right: 20px;
  }

  .code #sub {
    width: 60px;
    background-color: #209cf0;
    color: white;
  }

  .form #email {
    background-color: gainsboro;
  }
}
