
img {
  max-width: 100%;
}

.Navigation {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  position: relative;
  align-items: center;
}

.Navigation .brand {
  width: 300px;
}

.Navigation nav {
  display: flex;
  gap: 50px;
}

.Navigation nav ul {
  padding: 0px;
  margin: 0px;
}

.Navigation nav ul li {
  display: inline-block;
  margin-right: 30px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Navigation nav ul li a {
  text-decoration: none;
  color: #000;
}

.UserProfile {
  display: flex;
  align-items: center;
}

.UserProfile .UserImage {
  width: 40px;
  height: 40px;
  border: 1px solid red;
  border-radius: 20px;
  margin-left: 20px;
}

.MobileNav, .MobileLogo, .MenuIcon {
  display: none;
}

@media screen and (max-width: 1300px) {
  .Navigation {
    display: block;
  }

  .Navigation .brand {
    margin: 0px auto 20px;
  }

  .Navigation nav {
    display: flex;
    /* justify-content: space-between; */
    max-width: fit-content;
    margin: auto;
  }
}

@media screen and (max-width: 900px) {
  .Navigation {
    position: relative;
    display: flex;
    padding: 10px 20px;
    width: 100%;
  }

  .Navigation nav {
    display: none;
  }

  .Navigation .brand {
    width: 80px;
    margin: 0px;
  }

  .DesktopLogo {
    display: none;
  }

  .MobileNav, .MobileLogo, .MenuIcon {
    display: block;
  }

  .MobileNav {
    padding: 20px 50px;
    position: absolute;
    right: -500px;
    height: 100vh;
    top: 0px;
    background-color: blue;
    color: #fff;
    transition: right 200ms ease-out;
  }

  .MobileNav.active {
    right: 0px;
  }

  .MobileNav .close {
    position: absolute;
    right: 20px;
    top: 10px;
  }

  .MobileNav ul {
    margin-top: 30px;
  }

  .MobileNav ul li {
    margin-bottom: 20px;
  }

  

  .MobileNav ul {
    padding: 0px;
  }

  .MobileNav ul li {
    list-style: none;
  }
}